request==1.0.2
opcua==0.98.5
cryptography==2.3.1
webservice
PyYAML==3.13
SQLAlchemy==1.2.12
psycopg2-binary==2.7.5
-e git+https://github.com/protolab-rosenheim/python-artnet.git@master#egg=ArtNet
Flask-SQLAlchemy==2.3.2